@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <img src="~/images/list-illus.jpg" asp-append-version="true" style="margin:10px; width:50%; height:auto;" />
    
    <h1 class="display-4"> Willkommen zur Termin- und Aufgabenverwaltung </h1>
    
    <h4>Diese Webanwendung dient als zentrale Verwaltungsplattform für Termine, Aufgaben und Kategorien.</h4>
    
    <p>Sie ermöglicht es Ihnen, Termine mit detaillierten Informationen wie Zeitpunkt, Dauer, Ort und zugehörigen Kategorien zu organisieren 
    sowie Aufgaben mit klaren Zeiträumen und thematischer Zuordnung zu verwalten. 
    
    Kategorien helfen dabei, Einträge übersichtlich zu strukturieren und optional farblich zu kennzeichnen. 
    Alle Daten werden sicher in JSON-Dateien gespeichert. </p>

</div>
