@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Termin erstellen</h2>

<form method="post">
    <label>Titel</label>
    <input name="Title" required/>

    <label>Starttermin</label>
    <input type="datetime-local" name="StartDate" required />

    <label>Dauer in Minuten</label>
    <input type="number" name="DurationMinutes" required />

    <label>Ort</label>
    <input name="Location" required />

    <button type="submit">Speichern</button>
</form>

